body {
    font-size: 16px;
}

li,
a,
span,
div {
    font-family: 'Poppins', sans-serif;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000000;
}

a,
button {
    cursor: pointer;
    outline: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header-wrapper {
    background-color: #ffffff;
}

.header {
    background-color: #ffffff;
    padding-top: 4.791666%;
}

.logo-wrap {
    float: left;
    width: 90.604168%;
}

.logo {
    margin: 0px auto;
    width: 9.111136%;
    min-width: 105px;
    padding-left: 5%;
    text-align: center;
    vertical-align: middle;
}

.logo h1 {
    margin: 0px auto;
    width: 92.592592%;
}

.logo img {
    width: 100%;
    max-width: 150px;
    vertical-align: top;
}

.social {
    margin-top: 18.45679%;
    white-space: nowrap;
}


.social li img {
    width: 100%;
    max-width: 18px;
}

.menu {
    float: right;
    width: 4.239583%;
    min-width: 25px;
}

.menu button {
    border: none;
    background: transparent;
    width: 100%;
}

.menu button img {
    width: 100%;
    max-width: 43px;
}

.headtopic-wrapper {
    background-color: #ffffff;
}

.headtopic {
    background-color: #ffffff;
    padding-top: 4.836895%;
    background: url("../images/background-himalaya.png") no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.line {
    text-align: center;
}

.line span {
    display: inline-block;
    background-image: url("../images/2pixel.png");
    padding-left: 1px;
    background-repeat: repeat-y;
}

.topic {
    margin-top: 6.354166%;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}

.watchvideo {
    margin-top: 2.395833%;
    text-align: center;
}

.watchvideo span {
    padding-left: 16px;
    font-size: 11px;
    white-space: nowrap;
    background-image: url("../images/video.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
}

.discover {
    margin-top: 2.1875%;
    text-align: center;
}

.discover button {
    background-color: #ff5617;
    border: none;
    border-radius: 50px;
    padding: 5px;
    font-size: 10px;
    white-space: nowrap;
    width: 10.416666%;
    height: 28px;
    min-width: 62px;
}

.services-image-wrapper {
    background-color: #ffffff;
}

.services-image-wrapper .services-image {
    background-color: #ffffff;
    position: relative;
}

.services-wrapper {
    float: left;
}

.services {
    padding: 12.524084% 16.377649% 15.414258% 16.3776493%;
}

.services span {
    font-size: 12px;
}

.services h3 span {
    color: #ff5617;
}

.services p {
    font-size: 11px;
}

.button-indicators {
    margin-top: 26px;
}

.button-indicators button {
    border-radius: 50%;
    font-size: 8px;
    text-align: center;
    width: 26px;
    height: 26px;
}

.button-indicators .inactive {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.button-indicators .active {
    background-color: #ff5617;
    border: 1px solid #ff5617;
    color: white;
}

.product-images {
    width: 42.7850655%;
    background-color: #2c3da7;
    float: right;
    position: absolute;
    right: 0px;
    top: -156px;
    height: 310px;
}

.product {
    position: absolute;
    top: -100px;
    right: 10.14150943%;
}

.arrows {
    position: absolute;
    width: 11.3207547%;
    left: -5.660377%;
    bottom: 0;
}

.arrows button {
    width: 50%;
    height: 60px;
    border: none;
    background-color: transparent;
}

.arrows .left-arrow {
    background-color: #2c3da7;
    float: left;
}

.arrows .right-arrow {
    background-color: #ffffff;
    float: right;
}

.user-testomonial-wrapper {
    background: url("../images/user-testomonial-background.png") no-repeat;
    background-position: top;
}

.user-testomonial {
    background-color: #2b3ca3;
    opacity: 0.85;
}

.user-review {
    color: #ffffff;
    box-sizing: border-box;
    margin-left: 8.3669354%;
    margin-top: 8.3669354%;
    float: left;
}

.user-review .parenthesis {
    text-align: start;
    line-height: 0px;
}

.sign {
    margin-top: 18px;
}

.sign div {
    vertical-align: middle;
    display: inline-block;
}

.sign .line {
    background-image: url("../images/sign-line.png");
    background-repeat: repeat-x;
    background-size: 100% 100%;
    width: 42px;
    height: 2px;
}

.slider {
    width: 7.0564516%;
    float: right;
    margin-top: 7.3669354%;
    margin-bottom: 7.3669354%;
}

.slider button {
    border: none;
    background: transparent;
    width: 100%;
}

.slider div {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.indexes {
    color: #ffffff;
}

.other-index {
    opacity: 0.05;
}

.slider .current-index {
    opacity: 1;
}

.work-performed-wrapper,
.work-performed {
    background-color: #ffffff;
    text-align: center;
}

.category {
    margin: 42px auto 0px auto;
}

.category button {
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-size: 7px;
    color: #999999;
    padding-bottom: 7px;
    padding-left: 12px;
}

.category .active {
    color: #000000;
}

.category .active {
    background-image: url("../images/sign-line.png");
    background-repeat: repeat-x;
    background-position: left bottom;
}

.category button:active {
    color: #000000;
    background-image: url("../images/sign-line.png");
    background-repeat: repeat-x;
    background-position: left bottom;
}

.category li {
    margin-right: 2.217741%;
}

.tasks li {
    position: relative;
    margin: 5px;
    background-color: #f1d8d8;
    text-align: center;
}

.task {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;

}

.tasks li img {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: -50%;
    right: -50%;
    margin: auto;
    width: 150%;
    height: 100%;
}

.info {
    position: absolute;
    z-index: 10;
    bottom: 32px;
    left: -52px;

    height: 20%;
    width: 50%;

    background-color: #ff5617;
    color: #ffffff;
    text-align: left;

    display: none;
}



/* services  */
.services-performed-wrapper,
.services-performed {
    background-color: #ffffff;
    text-align: center;
}

.services-performed h2 {
    font-weight: bolder;
}

.services-performed p {
    width: 47.782258%;
    margin-top: 9px;
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
}

.services-list {
    vertical-align: middle;
    text-align: center;
}

.services-list li {
    text-align: center;
    border: 1px solid #ececec;
    box-sizing: border-box;
}

.services-list li:hover {
    background-color: #2c3da7;
    color: #ffffff;
}

.services-list li a:hover {
    color: #ffffff;
}


/* intro wrapper */
.intro-wrapper,
.intro {
    background-color: #ff5617;
}

.intro-wrapper .intro {
    height: 412px;
    position: relative;
    margin-top: 20px;
}

.video-content {
    height: 100%;
    width: 62%;
    top: -4%;
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
}

.intro-video {
    position: absolute;
    z-index: 5;
    object-fit: inherit;
    transform: translate(-50%, 0%);
    left: 50%;
    right: 50%;
}

.video-control {
    width: 35.415662%;
    font-size: 10px;
    position: absolute;
    z-index: 10;
    left: 1%;
    top: 2%;
}

.video-control button {
    border: none;
    background: transparent;
    background-image: url('../images/video-play-pause-ecllipse.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    width: 48px;
    height: 48px;
}

.video-control img {
    width: 10px;
    height: 10px;
}

/* services  */
.clients-testomonials-wrapper,
.clients-testomonials {
    background-color: #ffffff;
}

.clients-testomonials h2 {
    text-align: center;
    font-weight: bolder;
}

.clients-testomonials p {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.client-reviews {
    margin-top: 40px;
}

.client-info {
    margin: 0px auto;
    text-align: center;
}

.client-name {
    font-size: 9px;
    line-height: 16px;
}

.client-office {
    line-height: 7px;
}

.client-office a {
    font-size: 7px;
    color: #2c3da7;
    line-height: 7px;
}

.clients {
    vertical-align: middle;
    text-align: center;
}

.clients li {
    vertical-align: middle;
}

.clients button {
    border: none;
    background: transparent;
    width: 100%;
    opacity: 0.5;
}

.clients button:not(:last-child) {
    margin-right: 10px;
}

.clients .active {
    opacity: 1;
}


/* clients  */
.clients-photo-wrapper,
.clients-photo {
    background-color: #ffffff;
}

.clients-photo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 62em;
    text-align: center;
    vertical-align: middle;
}

.clients-photo img:first-child {
    width: 100%;
}

.clients-photo img:last-child {
    width: 54.939516%;
}

.footer-wrapper,
.footer {
    background-color: #1a1a1a;
    color: #ffffff;
}

.upper-footer {
    background: url('../images/footer-line.png') repeat-x;
    background-position: center bottom;
    padding-bottom: 11px;
}

.upper-footer h3 {
    margin-bottom: 23px;
    text-align: left;
    text-transform: uppercase;
}

.footer-content {
    width: 61.693548%;
    margin: 0px auto;
}

.short-links li {
    display: list-item;
}

.short-links {
    float: left;
    width: 21.078431%;
    margin-right: 4.5751633%;
}

.short-links h3 {
    margin-left: -7px;
}

.main-links {
    float: left;
}

.company-links {
    float: right;
}

.footer h3 {
    font-size: 9.3px;
}

.footer li {
    font-size: 7px;
    margin-bottom: 10px;
}

.short-links ul {
    list-style-image: url('../images/right-triangular-arrow.png');
}


.footer a {
    color: #ffffff;
}

.contact {
    float: left;
    width: 18.320261%;
    margin-right: 5.496732%
}

.lower-footer {
    font-size: 7px;
    line-height: 55px;
}

.footer-link {
    float: left;
}

.footer-link li {
    margin-right: 5px;
}

.design-by {
    float: right;
}

.contact li {
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 14px;
    background-size: 7px 7px;
}

.contact .location {
    background-image: url('../images/location.png');
    background-position: left top;
}

.mail {
    background-image: url('../images/mail.png');
}

.phone {
    background-image: url('../images/phone.png');
}

.globe {
    background-image: url('../images/global.png');
}

.feedback {
    float: left;
    width: 22.875816%;
    margin-right: 2.777777%;
}

.feedback input,
.feedback textarea {
    display: block;
    border: 1px solid #454545;
    background: transparent;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 5px;
    width: 90%;
    font-size: 6px;
}

.feedback button {
    background-color: #ff5617;
    border: 0px;
    font-size: 7px;
    line-height: 22px;
    text-align: center;
    width: 45px;
    font-weight: bold;
}

.instagram-feed {
    float: right;
    width: 24.8562091%;
}

.instagram-feed img {
    height: 32px;
    width: 32px;
}