.test {
  height: 5000px;
  width: 100%;
  background-color: aqua;
}

@media (min-width:768px) {

  h3,
  .services-info h3 span {
    font-size: 2.1875rem;
    line-height: 2.8125rem;
  }

  p {
    font-size: 0.9375rem;
    line-height: 1.6rem;
  }

  /* header */
  .social a {
    width: 1rem;
  }

  .social a:not(:last-child) {
    margin-right: 15px;
  }

  /* end header */

  /* discover start */
  .headtopic {
    height: 500px;
  }

  .topic {
    font-size: 50px;
  }

  .watchvideo span {
    padding-left: 30px;
    line-height: 25px;
    font-size: 15px;
  }

  .discover button {
    padding: 5px;
    font-size: 12px;
  }

  /* discover end */

  /* service start */
  .services {
    margin-top: 70px;
    margin-bottom: 120px;
  }

  .services-container {
    width: 100%;
    padding-left: 0%;
  }

  .services-info span {
    font-size: 15px;
  }

  .button-indicators {
    margin-top: 20px;
  }

  .button-indicators button {
    width: 40px;
    height: 40px;
  }

  /* service end */

  /* user testomonila start */
  .indexes {
    margin: 50px 0;
  }

  /* user must use margin in '-' minus cause the parenthesis font has default 
    height for full font and we only need link half of font size of parenthesis */
  .user-review .parenthesis {
    font-size: 700px;
    margin-top: 307px;
    margin-bottom: -163px;
  }

  .user-review {
    width: 75.12087%;
    margin-left: 8.3669354%;
  }

  .slider {
    width: 10.0564516%;
  }

  .other-index {
    font-size: 20px;
  }

  .slider .current-index {
    font-size: 40px;
  }

  /* user testomonila end */


  /* work performed start */
  .work-performed {
    margin-top: 80px;
  }

  .work-performed h3,
  .work-performed p {
    width: 60%;
  }

  .category button {
    font-size: 12px;
    padding-left: 10px;
  }

  .tasks {
    width: 60%;
    margin-top: 50px;
  }

  .tasks li {
    height: 325px;
  }

  .info {
    height: 30%;
    padding: 5px;
  }

  .tasks li:nth-child(odd) .info {
    left: -52px;
  }

  .tasks li:nth-child(even) .info {
    right: -52px;
  }

  .title {
    font-size: 30px;
    line-height: 40px;
  }

  .task-category {
    margin-top: 15px;
    font-size: 12px;
    line-height: 16px;
  }

  /* work performed end */

  /* services performed start*/

  .services-performed {
    margin-top: 70px;
  }

  .services-performed h3,
  .services-performed>p {
    width: 59.94505%;
  }

  .services-list li {
    height: 300px;
  }

  .services-list li h4 {
    font-size: 30px;
    line-height: 30px;
  }

  .services-list li p {
    font-size: 15px;
    line-height: 20px;
  }

  /* services performed end*/

  /* intro wrapper start*/
  .video-control {
    font-size: 12px;
  }

  .video-control button {
    width: 40px;
    height: 40px;
  }

  /* intro wrapper end*/


  /* clients testomonials start */
  .clients-testomonials h3 {
    margin-top: 60px;
  }

  .clients-testomonials>p {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .client-reviews {
    margin-top: 40px;
  }

  .client-reviews>p {
    font-size: 20px;
  }

  .client-info {
    margin-top: 40px;
  }

  .client-name {
    font-size: 15px;
  }

  .client-office {
    font-size: 14px;
    margin-top: 18px;
  }

  .clients {
    margin-top: 40px;
  }

  .clients button img {
    height: 50px;
    width: 50px;
  }

  .clients .active img {
    height: 70px;
    width: 70px;
  }

  .clients li:not(:last-child) {
    margin-right: 10px;
  }

  .clients .active {
    margin-right: 22px;
  }

  .clients-user li {
    height: 80px;
  }

  /* clients testomonials end */

  /* footer start */
  .footer {
    margin-top: 80px;
    padding-top: 85px;
  }

  .upper-footer h4 {
    margin-bottom: 23px;
    font-size: 18px;
  }

  .footer li {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .short-links {
    width: 21.09704%;
  }

  .instagram-feed {
    display: block;
  }

  .contact {
    float: left;
    width: 17.721518%;
  }

  .contact li {
    padding-left: 28px;
    background-size: 15px 15px;
  }

  .feedback {
    display: block;
  }

  .feedback input,
  .feedback textarea {
    font-size: 12px;
  }

  .feedback button {
    font-size: 14px;
    line-height: 42px;
    padding: 0px 20px;
  }

  .lower-footer {
    font-size: 14px;
    line-height: 101px;
  }

  .design-by {
    display: block;
  }

  /* footer end */
}

@media (min-width:992px) {

  h3,
  .services-info h3 span {
    font-size: 3.125rem;
    line-height: 4.0625rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.875rem;
  }

  /* header */
  .header {
    box-shadow: none;
  }

  .social a {
    width: 1.5rem;
  }

  .main-nav li a {
    font-size: 0.9375rem;
  }

  /* end header */

  /* discover start */
  .headtopic {
    height: 700px;
  }

  .line {
    line-height: 80px;
  }

  .topic {
    font-size: 70px;
  }

  .watchvideo span {
    padding-left: 40px;
    line-height: 32px;
    font-size: 20px;
  }

  .discover button {
    padding: 8px;
    font-size: 15px;
  }

  /* discover end */

  /* service start */
  .services {
    margin-top: 70px;
    margin-bottom: 120px;
  }

  .services-container {
    width: 45.10125889%;
    padding-left: 0%;
  }

  .services-info span {
    font-size: 18px;
  }

  .product-images {
    width: 45.046524%;
    top: -145px;
    height: 293px;
    display: block;
  }

  .product {
    top: -180px;
    right: 10.14150943%;
  }

  /* service end */

  /* user testomonila start */
  .indexes {
    margin: 70px 0;
  }

  /* user must use margin in '-' minus cause the parenthesis font has default 
    height for full font and we only need link half of font size of parenthesis */
  .user-review .parenthesis {
    font-size: 900px;
    margin-top: 402px;
    margin-bottom: -209px;
  }

  .user-review {
    width: 75.12087%;
  }

  .slider {
    width: 10.0564516%;
  }

  .other-index {
    font-size: 30px;
  }

  .slider .current-index {
    font-size: 60px;
  }

  /* user testomonila end */

  /* work performed start */
  .work-performed {
    margin-top: 130px;
  }

  .tasks li {
    height: 400px;
  }

  .info {
    height: 40%;
    padding: 15px;
  }

  .title {
    font-size: 50px;
    line-height: 40px;
  }

  .task-category {
    margin-top: 15px;
    font-size: 12px;
    line-height: 16px;
  }

  /* work performed end */


  /* clients testomonials start */
  .client-reviews>p {
    font-size: 25px;
  }

  .client-name {
    font-size: 18px;
  }

  .client-office {
    font-size: 16px;
  }

  .clients-user li {
    height: 100px;
  }

  /* clients testomonials end */
}

@media (min-width:1200px) {

  h3,
  .services-info h3 span {
    font-size: 4.375rem;
    line-height: 5.5rem;
  }

  p {
    font-size: 1.375rem;
    line-height: 2.5rem;
  }

  /* header */
  .main-nav li a {
    font-size: 20px;
  }

  /* end header */

  /* discover start */
  .headtopic {
    height: 900px;
  }

  .topic {
    font-size: 100px;
  }

  .discover button {
    padding: 10px;
    font-size: 18px;
  }

  /* discover end */


  /* service start */
  .services {
    margin-top: 90px;
    margin-bottom: 151px;
  }

  .services-container {
    width: 45.10125889%;
    padding-left: 8.92172961%;
  }

  .services-info span {
    font-size: 24px;
  }

  .button-indicators {
    margin-top: 26px;
  }

  .button-indicators button {
    width: 50px;
    height: 50px;
  }

  .product-images {
    width: 45.046524%;
    top: -288px;
    height: 600px;
  }

  .product {
    top: -180px;
    right: 10.14150943%;
  }

  /* service end */

  /* user testomonila start */
  .user-review {
    width: 39.12087%;
  }

  /* user must use margin in '-' minus cause the parenthesis font has default 
    height for full font and we only need link half of font size of parenthesis */
  .user-review .parenthesis {
    font-size: 1100px;
    margin-top: 500px;
    margin-bottom: -257px;
  }

  .slider {
    width: 14.0564516%;
  }

  .other-index {
    font-size: 50px;
  }

  .slider .current-index {
    font-size: 100px;
  }

  /* user testomonila end */


  /* work performed start */
  .work-performed {
    margin-top: 195px;
  }

  .work-performed h3,
  .work-performed p {
    width: 51.538461%;
  }

  .category button {
    font-size: 14px;
    padding-left: 12px;
  }

  .tasks {
    width: 54.945054%;
    margin-top: 80px;
  }

  .tasks li {
    width: 48%;
    height: 570px;
  }

  .tasks li {
    height: 400px;
  }

  .info {
    height: 40%;
    padding: 25px;
  }

  .title {
    font-size: 80px;
    line-height: 70px;
  }

  .task-category {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  /* work performed end */


  /* services performed start */
  .services-performed {
    margin-top: 263px;
  }

  .services-performed>p {
    margin-top: 9px;
    margin-bottom: 40px;
  }

  .services-list {
    margin-top: 100px;
  }

  .services-list li {
    width: 33%;
    padding: 25px;
    height: 440px;
  }

  .services-list li h4 {
    font-size: 40px;
    line-height: 50px;
    margin-top: 30px;
  }

  .services-list li p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  /* services performed end */


  /* intro wrapper start*/
  .video-control {
    font-size: 20px;
  }

  .video-control button {
    width: 90px;
    height: 90px;
  }

  /* intro wrapper end*/

  /* clients testomonials start */
  .clients-testomonials {
    width: 49.01098%;
  }

  .clients-testomonials h3 {
    margin-top: 140px;
  }

  .clients-testomonials>p {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .client-reviews {
    margin-top: 80px;
  }

  .client-reviews>p {
    font-size: 36px;
  }

  .client-info {
    margin-top: 66px;
  }

  .client-name {
    font-size: 18px;
  }

  .client-office {
    font-size: 14px;
    margin-top: 18px;
  }

  .clients {
    margin-top: 70px;
  }

  .clients-user li {
    height: 140px;
  }

  /* clients testomonials end */

  /* footer start */
  .footer-content {
    width: 65.384615%;
    padding: 0px;
  }

  .company-links {
    display: block;
  }

  /* footer end */
}
