li,
a,
span,
div {
  font-family: "Poppins", sans-serif;
}

li {
  display: inline-block;
}

svg {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

a,
button {
  cursor: pointer;
  outline: 0;
}

h3,
.services-info h3 span {
  font-size: 25px;
  line-height: 30px;
  font-weight: bolder;
}

p,
q {
  font-size: 12px;
  line-height: 25px;
}

.topic-info {
  font-weight: 600;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.page-content {
  margin: 0px auto;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  max-width: 120rem;
}

/* header start */
.header-wrapper {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
  margin-top: 40px;
  position: relative;
}

.logo-wrap {
  float: left;
  width: 58.666666%;
}

.logo {
  float: right;
  margin: 0px auto;
  width: 32.129032%;
  text-align: center;
  vertical-align: middle;
}

.logo a img {
  width: 100%;
  min-width: 58px;
  max-width: 150px;
  height: auto;
  vertical-align: top;
}

.social {
  margin-top: 10px;
}

.social a {
  color: #fff;
  display: inline-block;
  width: 8px;
}

.social a:hover > svg path {
  fill: #ff5617;
}

.social a:not(:last-child) {
  margin-right: 4px;
}

.nav-bar-toggler {
  float: right;
  width: 8.239583%;
  min-width: 26px;
  max-width: 43px;
  height: inherit;
  border: none;
  background: transparent;
}

.nav-bar-toggler:hover > svg path {
  fill: #ff5617;
}

/* nav which comes when hamburger is clicked */
.main-nav {
  padding: 20px 0px;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.main-nav li {
  display: block;
  padding-left: 20px;
}

.main-nav li a {
  font-weight: bold;
  display: block;
  padding: 12px 24px;
  font-size: 10px;
  text-align: center;
}

.main-nav li a:hover,
.current-item {
  color: #ff5617;
}

/*end of nav*/
/* end of header */

/* discover start */
.headtopic-wrapper {
  background: url("../images/discover/background-himilaya.png") no-repeat;
  background-position: top;
  background-size: cover;
}

.headtopic {
  padding-top: 4.836895%;
  height: 250px;
}

.line {
  text-align: center;
}

.line span {
  display: inline-block;
  background-image: url("../images/2pixel.png");
  padding-left: 1px;
  background-repeat: repeat-y;
}

.headtopic h2 {
  margin-top: 6.354166%;
  text-align: center;
}

.topic {
  font-size: 20px;
}

.watchvideo {
  margin-top: 2.395833%;
  text-align: center;
}

.watchvideo a {
  padding-left: 30px;
  line-height: 15px;
  font-size: 11px;
  background-image: url("../images/discover/play-button.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.watchvideo a:hover {
  font-weight: bold;
}

.discover {
  margin-top: 2.1875%;
  text-align: center;
}

.discover button {
  background-color: #ff5617;
  border: none;
  border-radius: 50px;
  padding: 10px;
  font-size: 9px;
  white-space: nowrap;
  width: 10.824175%;
  min-width: 62px;
  color: #ffffff;
}

.discover button:hover {
  background-color: #f8652f;
}

.discover button:active {
  background-color: #f54403;
}

/* end discover */

/* services start */
.services-wrapper {
  background-color: #ffffff;
}

.services {
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 60px;
  position: relative;
}

.services-container {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding-left: 0%;
}

.services-info span {
  font-size: 12px;
}

.services-info h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.services-info h3 span {
  color: #ff5617;
}

.services-info p {
  margin-top: 25px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.button-indicators {
  margin-top: 26px;
}

.button-indicators button {
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  width: 30px;
  height: 30px;

  background-color: white;
  border: 1.5px solid black;
  color: black;
}

.button-indicators button:hover {
  background-color: rgb(240, 234, 234);
}
.button-indicators button:active {
  background-color: rgb(224, 224, 224);
}

.button-indicators .active {
  background-color: #ff5617;
  border: 1px solid #ff5617;
  color: white;
}

.button-indicators .active:hover {
  background-color: #ff4400;
}

.button-indicators .active:active {
  background-color: #d63d05;
}

.product-images {
  width: 45.046524%;
  background-color: #2c3da7;
  float: right;
  position: absolute;
  right: 0px;
  display: none;
}

.product {
  position: absolute;
  top: -180px;
  right: 10.14150943%;
}

.product img {
  width: 120%;
  height: auto;
  float: right;
  max-width: 900px;
}

.arrows {
  position: absolute;
  width: 12.150668%;
  left: -6.075334%;
  bottom: 0;
}

.arrows button {
  width: 50%;
  border: none;
  background-color: transparent;
  padding: 47px 11px;
  vertical-align: middle;
  text-align: center;
}

.arrows button img {
  min-width: 10px;
  width: 100%;
  height: auto;
}

.arrows .left-arrow {
  background-color: #2c3da7;
  float: left;
}
.arrows .left-arrow:hover {
  background-color: #0620c9;
}
.arrows .left-arrow:active {
  background-color: #0022ff;
}

.arrows .right-arrow {
  background-color: #ffffff;
  float: right;
}

.arrows .right-arrow:hover {
  background-color: rgb(240, 234, 234);
}
.arrows .right-arrow:active {
  background-color: rgb(224, 224, 224);
}

/* services end */

/* user testomonila start */

.user-testomonial-wrapper {
  background: url("../images/user-testomonial/user-testomonial-background.png")
    no-repeat;
  background-position: top;
  background-size: cover;
}

.user-testomonial {
  /* the same background color cant be achieved due to the effect applied in photoshop 
    which is not available in css
    we can only get close approximation */
  background-color: #071781f1;
  opacity: 0.85;
  max-width: 100%;
}

.user-review {
  color: #ffffff;
  box-sizing: border-box;
  margin-top: 8.3669354%;
  float: left;
  width: 80%;
}
.user-review h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.user-review p {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

/* user must use margin in '-' minus cause the parenthesis font has default 
    height for full font and we only need link half of font size of parenthesis */

.user-review .parenthesis {
  text-align: start;
  line-height: 0px;
  font-size: 500px;
  margin-top: 220px;
  margin-bottom: -117px;
}

.sign {
  margin-top: 18px;
  margin-bottom: 15px;
}

.sign div {
  vertical-align: middle;
  display: inline-block;
}

.sign .line {
  background-image: url("../images/sign-line.png");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  width: 42px;
  height: 2px;
}

.sign img {
  width: 100%;
  height: auto;
  max-width: 130px;
}

.slider {
  width: 7.0564516%;
  float: right;
  margin-top: 6.3669354%;
  margin-bottom: 6.3669354%;
}

.slider button {
  border: none;
  background: transparent;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.slider div {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.indexes {
  color: #ffffff;
  margin: 25px 0;
  cursor: pointer;
}

.other-index {
  opacity: 0.2;
  font-size: 10px;
}

.other-index:hover {
  opacity: 0.8;
}

.slider .current-index {
  opacity: 1;
  font-size: 20px;
}

.slider button img {
  min-width: 10px;
  width: 39%;
  height: auto;
  max-width: 20px;
}

/* user testomonila end */

/* work performed start */
.work-performed-wrapper,
.work-performed {
  background-color: #ffffff;
  text-align: center;
}

.work-performed {
  margin-top: 50px;
}

.work-performed h3,
.work-performed p {
  width: 100%;
  margin: 0 auto;
}

.category {
  margin: 42px auto 0px auto;
}

.category button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 9px;
  color: #999999;
  padding-bottom: 7px;
  padding: 0 12px 12px 8px;
}

.category .active {
  color: #000000;
}

.category .active,
.category button:active {
  color: #000000;
  background-image: url("../images/category-line.png");
  background-repeat: repeat-x;
  background-position: left bottom;
}
.category button:hover {
  color: #000000;
}

.category li {
  margin-right: 2.217741%;
}

.tasks {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.tasks li {
  position: relative;
  margin: 5px;
  background-color: #f1d8d8;
  text-align: center;
  width: 46%;
  height: 250px;
  box-sizing: border-box;
}

.tasks li:nth-child(odd) {
  float: left;
}

.tasks li:nth-child(even) {
  transform: translateY(15%);
  float: right;
}

.task {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.tasks li img {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  margin: auto;
  width: 150%;
  height: 100%;
}

.info {
  position: absolute;
  z-index: 10;
  bottom: 32px;

  height: 40%;
  width: 96%;

  box-sizing: border-box;
  padding: 5px;

  background-color: #ff5617;
  color: #ffffff;
  text-align: left;
  display: none;
}

.title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}

.task-category {
  margin-top: 20px;
  font-size: 10px;
  line-height: 15px;
}

.tasks li a:hover > .info {
  display: block;
}

/* work performed end */

/* services  start*/
.services-performed-wrapper,
.services-performed {
  background-color: #ffffff;
}

.services-performed {
  margin-top: 50px;
  text-align: center;
}

.services-performed .topic-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.services-performed h3,
.services-performed > p {
  margin: 0px auto;
  width: 100%;
}

.services-performed .topic-info {
  width: 100%;
  margin: 0px auto;
}

.services-performed > p {
  margin-top: 9px;
  margin-bottom: 20px;
}

.services-performed .services-list {
  margin-top: 30px;
  padding: 0px;
}

.services-list li {
  border: 1px solid #ececec;
  box-sizing: border-box;
  width: 50%;
  padding: 5px;
  height: 240px;
  display: block;
  float: left;
}

.services-list li img,
.services-list li svg {
  width: 14.38244%;
  height: auto;
  margin-top: 10px;
}

.services-list li svg:hover {
  fill: #ffffff;
}

.services-list li h4 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 25px;
}

.services-list li p {
  margin: 0 auto;
  font-size: 10px;
  line-height: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.services-list li:hover,
.services-list li:hover > a,
.services-list li:hover > a svg path {
  background-color: #2c3da7;
  color: #ffffff;
  fill: #ffffff;
}

/* services  end*/

/* intro wrapper start*/
.intro-wrapper,
.intro {
  background-color: #ff5617;
}

.intro-wrapper .intro {
  height: 190px;
  position: relative;
  margin-top: 20px;
}

.video-content {
  height: 200px;
  width: 320px;
  top: -4%;
  left: 50%;
  right: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
}

.intro-video {
  position: absolute;
  z-index: 5;
  object-fit: inherit;
  transform: translate(-50%, 0%);
  left: 50%;
  right: 50%;
}

.video-control {
  width: 25%;
  font-size: 8px;
  position: absolute;
  z-index: 10;
  left: 12%;
  top: 12%;
}

.video-control button {
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.video-control img {
  width: 20%;
  height: 20%;
}

.video-control span {
  width: 60%;
  display: inline-block;
  word-break: break-word;
  vertical-align: middle;
}

/* intro wrapper end*/

/* clients testomonials start */
.clients-testomonials-wrapper,
.clients-testomonials {
  background-color: #ffffff;
  text-align: center;
}

.clients-testomonials {
  width: 100%;
  margin: 0px auto;
}

.clients-testomonials h3,
.clients-testomonials > p {
  margin: 0px auto;
}

.clients-testomonials h3 {
  margin-top: 40px;
}

.clients-testomonials > p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.client-reviews {
  margin-top: 30px;
}

.client-reviews li q {
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-weight: 600;
}

.client-info {
  margin: 0px auto;
  margin-top: 30px;
}

.client-name {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.client-office {
  font-size: 10px;
  line-height: 10px;
  margin-top: 10px;
  font-weight: 400;
}

.client-office a {
  color: #2c3da7;
}

.client-office a:hover {
  font-weight: bold;
}

.clients {
  margin-top: 30px;
}

.clients li {
  vertical-align: middle;
  opacity: 0.5;
}

.clients li:hover {
  opacity: 0.7;
}

.clients button {
  border: none;
  background: transparent;
}

.clients button img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.clients li:not(:last-child) {
  margin-right: 5px;
}

.clients .active,
.clients .active:hover {
  opacity: 1;
  margin-right: 10px;
}

.clients .active img {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  height: 40px;
  width: 40px;
}

/* clients  */
.clients-photo-wrapper,
.clients-photo {
  background-color: #ffffff;
}

.clients-photo-wrapper .clients-photo {
  margin-top: 60px;
  padding: 0;
}

.clients-user li {
  display: block;
  float: left;
  width: 8.285714%;
  height: 60px;
}

.clients-user li img {
  width: 100%;
  height: 100%;
}

.clients-user li:hover {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

.client-companies {
  margin-top: 30px;
}

.client-companies ul {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
.client-companies .small-logo-client-companies a img {
  height: 16px;
  width: auto;
}

.client-companies li {
  margin-right: 4px;
}

.client-companies ul li img {
  height: auto;
  width: 100%;
  max-width: 40px;
}
.client-companies li img:hover {
  box-shadow: 0 0 10px 0px rgba(97, 97, 97, 0.5);
}

/* clients testomonials end */

/* footer start */
.footer-wrapper,
.footer {
  background-color: #1a1a1a;
  color: #ffffff;
}

.footer {
  margin-top: 40px;
  padding-top: 45px;
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  color: #ffffffaf;
}

.footer-content {
  margin: 0px auto;
  padding: 0px 10px;
}

/* upper footer start */
.upper-footer {
  background: url("../images/footer/footer-line.png") repeat-x;
  background-position: center bottom;
  padding-bottom: 11px;
}

.upper-footer h4 {
  margin-bottom: 23px;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.footer li {
  font-size: 10px;
  margin-bottom: 10px;
}

/* short link start */
.short-links ul {
  list-style-image: url("../images/right-triangular-arrow.png");
}

.short-links li {
  display: list-item;
}

.short-links {
  float: left;
  width: 40%;
  margin-left: 4.72103%;
  margin-right: 4.72103%;
}

/* as the li tag list is before the text we must use '-' minus */
.short-links h4 {
  margin-left: -7px;
}

.main-links {
  float: left;
  width: 100%;
}

.company-links {
  float: right;
  display: none;
}

/* short link end */

/* contact start */
.contact {
  float: right;
  width: 42%;
  margin-right: 8.154506%;
}

.contact li {
  display: block;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  background-size: 10px 10px;
}

.contact .location {
  background-image: url("../images/footer/location.svg");
  background-position: left top;
}

.mail {
  background-image: url("../images/footer/mail.svg");
}

.phone {
  background-image: url("../images/footer/call-answer.svg");
}

.globe {
  background-image: url("../images/footer/earth.svg");
}
/* contact end */

/* feedback start */
.feedback {
  float: left;
  width: 23.433476%;
  margin-right: 2.48927%;
  display: none;
}

.feedback input,
.feedback textarea {
  display: block;
  border: 1px solid #454545;
  background: transparent;
  color: #ffffff;
  padding: 5px;
  margin-bottom: 5px;
  width: 90%;
  font-size: 12px;
  resize: none;
}

.feedback button {
  background-color: #ff5617;
  border: 0px;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  padding: 0px 20px;
}

.feedback button:hover {
  background-color: #ff4400;
}

.feedback button:active {
  background-color: #d63d05;
}
/* .feedback end */

.instagram-feed {
  display: none;
  float: left;
  width: 23.03433%;
}
.instagram-feed ul li {
  width: 23%;
}
.instagram-feed ul li:hover {
  box-shadow: 0 0 10px 0px rgba(252, 249, 249, 0.253);
}

.instagram-feed img {
  width: 100%;
  height: auto;
}
/* upper header end */

/* loweer header start */
.lower-footer {
  font-size: 8px;
  line-height: 50px;
}

.footer-link {
  float: left;
}

.footer-link li {
  margin-right: 2px;
}

.design-by {
  float: right;
  display: none;
}
/* footer end */
